.login-container {
    background: #e0e0f3;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom:130px;
    height: fit-content;
    width: 500px;
    align-items:center;
    justify-content: center;
    border-radius: 15px;
    transform: translate(100%,0%);
}
.logo-img{
    width:250px;
    margin-top: 20px;
    display: flex;
    height: fit-content;
    align-items:center;
    justify-content: center;
}
.loginHeader {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-title{
    color: #272b2e;
    font-size: 52px;
    font-weight: 720;
}

.login-underline{
    background: #008be6;
    width: 80px;
    height: 5px;
    border-radius: 10px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.login-field svg {
    margin: 0px 10px;
}

.login-field {
    background: #f6eaea;
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 80px;
    border-radius: 20px;
}

.login-field input {
    background: transparent;
    color:#636363;
    font-size: 20px;
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
}

.submit-container-login {
    display: flex;
    gap: 11px;
    margin: 35px auto;
}

.login-submit {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background: #008be6;
    border-radius: 35px;
    color:#ffffff;
    font-size: 20px;
    font-weight: 650;
    width: 220px; 
    height: 65px;
    text-decoration: none;
}
