.footer {
    background-color: #1f1e1e;
    color: #c9baba;
    padding: 24px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto;
  }
  
  .content {
    max-width: 1300px ;
    margin: 0 auto;
    display: flex;
    align-items: center
  }
  
  .logo img {
    width: 140px;
    margin-right: 100px;
  }