.centered-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    background-color: lightblue;
  }

  .welcome{
    text-align: center;
    position: relative;
    top: 25px;
  }
  .text-content{
    text-align: center;
    position: relative;
    top: 125px;
  }