.centered-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    background-color: lightblue;
  }
  .register-header{
    text-align: center;
    position: relative;
    top: 22px;
  }
    
.errorMessage{
  text-align: center;
  position: relative;
}
.input-boxes{
  margin-left: 8px;
}